.header-farmaNow {
  width: 100%;
  background-color: #87cefa;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-farmaNow img {
  width: 40px;
  margin: 0;
}

.header-farmaNow h1 {
  margin: 0;
}

.form-farmaNow {
  width: 90%;
  margin: 2em auto;
  border-radius: 5px;
  color: #fff;
}

.login-panel {
  background-image: linear-gradient(#005eff, #20b2aa);

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-panel-box {
  background: #fff;
}

.content-registration, .content-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
